h1{
	color: violet;
	font-family: serif;
}
h2{
	color: violet;
	font-family: serif;
}
h3{
	color: violet;
	font-family: serif;
}
h4{
	color: violet;
	font-family: serif;
}
h5{
	color: violet;
	font-family: serif;
}
h6{
	color: violet;
	font-family: serif;
}
p{
	color: red;
	font-family: monospace;
}
b{
	color: chocolate;
}
strong{
	color: chocolate;
}
i{	color: chocolate;}
strike{
	color: chocolate;
}
u{
	color: chocolate;
}